.Login {
  width: auto;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login h1 {
  text-align: center;
}
.LoginForm {
  display: flex;
  flex-direction: column;
}
.LoginForm input {
  width: 240px;
  height: 48px;
  border-radius: 10px;
  margin: 8px;
  padding-left: 8px;
  font-size: 19.2px;
}
.LoginForm button {
  height: 48px;
  font-size: 19.2px;
  border-radius: 50px;
  margin: 8px;
  background-color: #0a3d62;
  color: #fff;
}
.LoginForm button:hover {
  cursor: pointer;
  background-color: #82ccdd;
}
.Error {
  color: red;
}

.card2 {
  box-shadow: 5px 5px 30px grey;
  padding: 50px;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}