.Register {
  width: auto;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Register h1 {
  text-align: center;
}
.RegisterForm {
  display: flex;
  flex-direction: column;
}
.RegisterForm input {
  width: 240px;
  height: 48px;
  border-radius: 10px;
  margin: 8px;
  padding-left: 8px;
  font-size: 19.2px;
}
.RegisterForm button {
  height: 48px;
  font-size: 19.2px;
  border-radius: 50px;
  margin: 8px;
  background-color: #0a3d62;
  color: #fff;
}
.RegisterForm button:hover {
  cursor: pointer;
  background-color: #82ccdd;
}

.card {
  padding: 50px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.card1 {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 855px;
}

.form-group {
  padding: 10px;
}
